.head {
  padding: 15px 0px;
  background-color: rgba(2, 119, 174, 0.377);
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  font-family: "Noto Serif", serif;
  border: 1px solid #51adcf;
  color: white;
  border-radius: 3px;
  border-top: 0px;
}
body {
  background-color: whitesmoke;
  margin: 0px 10px 10px 30px;
  max-width: 100%;
}
.icon {
  font-size: 90px;
  display: inline;
  color: rgb(219, 100, 0, 0.7);
}
.row {
  padding-right: 0px;
  padding-left: 0px;
}
.app {
  font-size: 14px;
  display: block;
}
button {
  padding: 6px 12px;
  border-radius: 20px;
  border: 2px solid rgb(2, 120, 174);
  color: rgb(2, 120, 174);
  background-color: white;
}
button:hover {
  color: white;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(2, 120, 174);
  transition: all 200ms ease-In-out;
  opacity: 0.8;
}

.buscador {
  position: relative;
  margin: 30px;
}
.formBuscador {
  margin: 20px;
  font-family: "Noto Serif", serif;
}
.card {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-family: "Noto Serif", serif;
  text-transform: capitalize;
  max-width: 80%;
}
.forecast {
  background-color: crimson;
}
.temperature {
  font-size: 90px;
  display: inline;
  color: rgba(0, 0, 0, 0.562);
  font-family: "Noto Serif", serif;
  padding-left: 0%;
}
.news {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a {
  color: rgba(0, 0, 255, 0.699);
  text-decoration: none;
}
ul {
  list-style: none;
  position: relative;
  left: -12px;
}
.tempsymbol {
  display: inline;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.493);
}
.col-md-4 {
  position: relative;
  left: 51px;
  top: 23px;
  min-width: 200px;
}
.following {
  text-align: center;
  position: relative;
  display: inline;
  padding: 0px;
  color: rgba(0, 0, 0, 0.562);
}
.card-header {
  font-weight: bold;
}
h3 {
  font-family: "Noto Serif", serif;
}
.col-2 {
  display: contents;
  min-width: 20%;
  padding: 10px;
}
.tempsymbol .active {
  color: black;
  cursor: default;
}
.tempsymbol .active :hover {
  text-decoration: none;
}
